
body {
  position: relative;
}
canvas {
  display: inline-block;
  visibility: hidden;
  margin: auto;
}


img {
  margin-left: -999px;
}

#win-screen {
  background-image: url('images/winscreen.png');
  position: absolute;
  top: 0;
  right: 0
  bottom: 0;
  left: 0;
  width: 600px;
  height: 600px;
  margin: 0 25vw;
  background-repeat: no-repeat;
  background-color: darkblue;
  visibility: hidden;
}


#start-screen {
  display: inline-block;
  background-image: url('images/start-screen.png');
  display: block;
  margin: auto;
  width: 600px;
  height: 600px;
  margin: auto;
  background-repeat: no-repeat;
  background-color: lightblue;
  border: none;
  text-decoration: none;
  }

#game-over-screen {
    background-image: url('images/dead-frog.png');
    position: absolute;
    top: 0;
    right: 0
    bottom: 0;
    left: 0;
    width: 600px;
    height: 600px;
    margin: 0 33vw;
    background-repeat: no-repeat;
    background-color: red;
    visibility: hidden;
  }

  #start-button {
    margin-top: 65%;
    margin-left: 5%;
    font-family: Overlock SC;
    font-size: 30px;
    border-radius: 10vh;
    width: 170px;
    height: 70px;
    background-color: orange;
    border: none;
  }

  #restart-button {
    margin-top: 80%;
    margin-left: 10%;
    font-family: Overlock SC;
    font-size: 30px;
    color: white;
    border-radius: 10vh;
    width: 170px;
    height: 70px;

    background-color: black;
    border: none;
  }

  .title {
    font-family: Monofett;
    font-size: 60px;
    margin-left: 48%;
}

  .instructions {
    display: inline-block;
    position: absolute;
    right: 15vw;
    bottom: 55vh;
    width: 150px;
    font-family: Overlock SC;
    font-size: 22px;
    margin-left: 40%;
    margin-bottom: 40%;


  }
